/* Footer */
footer {
  padding: 4rem 0 2rem;
  position: relative;
  background-color: var(--light-bg);
}

// footer::before {
//   position: absolute;
//   content: "";
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   height: 10px;
//   background-image: url("https://cbx-prod.b-cdn.net/COLOURBOX59160464.jpg?width=800&height=800&quality=70");
//   background-size: cover;
//   background-position: center;
// }

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-logo {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.footer-about {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--primary-accent);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  background-color: var(--primary-color);
}

.footer-links h3 {
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-links ul {
  list-style: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: var(--primary-color);
}

.footer-contact h3 {
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.footer-contact p {
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.copyright {
  margin-top: 3rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  font-size: 1rem;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.back-to-top:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
  }
}
